.type-12 .name-title-banner {
  text-align: center;
  letter-spacing: 6px;
  font-family: serif;
  font-size: 13px;
}
.type-12 .name-title-banner-p2 {
  font-family: sans-serif;
  text-align: center;
  padding-top: 20px;
}
.type-12 .hieu-banner-ins {
  font-size: 18px;
  color: #757575;
}
.type-12 .ins-thumnal ul li {
  list-style: none;
}
.type-12 .ins-thumnal ul li {
  display: block;
  float: left;
}
.type-12 .ins-thumnal img {
  width: 275px;
}
.type-12 .ins-thumnal li {
  width: 25%;
}
.type-12 .qodef-instagram-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  opacity: 0;
  z-index: 1;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate(-50%,-10%);
  -ms-transform: translate(-50%,-10%);
  transform: translate(-50%,-10%);
}
.type-12 .qodef-instagram-feed li a:hover .qodef-instagram-icon {
  opacity: 1;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.type-12 .fab {
  font-family: "font awesome 5 brands";
}
.type-12 .fa-instagram:before {
  content: "\f16d";
}
.type-12 .ins-thumnal img {
  opacity: 1;
  transition: opacity .40s ease-in-out;
  -webkit-transition: opacity .40s ease-in-out;
  -moz-transition: opacity .40s ease-in-out;
  -o-transition: opacity .40s ease-in-out;
}
.type-12 .ins-thumnal img:hover {
  opacity: 0.75;
}
.type-12 .qodef-instagram-feed li a {
  position: relative;
  display: block;
  overflow: hidden;
}
