.type-5 {
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #F9F9F9;
}
.type-5 .item-center {
  margin-top: 10rem;
}
.type-5 .item-fix {
  margin: 6em 0;
}
.type-5 .item-fix .des {
  color: #808080;
}
