.type-8 {
	.container {
		position: relative;
		.banner-img {
			overflow: hidden;
			background: url('../images/bg-banner-block8.jpg');
			background-size: cover;
			height: 100%;
			width: 100%;
			-webkit-transform: translateX(0) scale(1.03);
		    -ms-transform: translateX(0) scale(1.03);
		    transform: translateX(0) scale(1.03);
		    -webkit-transition: 1s cubic-bezier(.17,.59,.05,.96);
		    -o-transition: 1s cubic-bezier(.17,.59,.05,.96);
		    transition: 1s cubic-bezier(.17,.59,.05,.96);
		    .text-outner {
		    	position: relative;
			    display: table;
			    table-layout: fixed;
			    height: 100%;
			    width: 100%;
		    	.text-inner {
		    		padding: 99px 20px 137px;
				    text-align: center;
				    position: relative;
				    overflow: hidden;
				    h6 {
				    	margin: 0;
				    	color: #bf5c30;
				    	font-size: 13px;
				    	font-weight: 900;
				    	letter-spacing: .4em;
				    }
				    h1 {
				    	font-size: 39px;
				    	line-height: 1.1em;
				    }
				    p {
				    	color: #757575;
				    	font-size: 18px;
				    }
		    	}
		    	.qodef-banner-bg-text{
					position: absolute;
					bottom: -55%;
				    right: -15%;
				    font-family: Cormorant,serif;
				    color: #c6a3ba;
				    font-size: 220px;
				    font-weight: 700;
				    line-height: .6em;
				    letter-spacing: 0;
				    -webkit-text-stroke: 1px #bf5c30;
				    -webkit-text-fill-color: transparent;
				    .qodef-char-mask {
				    	display: inline-block;
					    line-height: .7em;
					    span> .qodef-show {
					    	-webkit-transform: translate3d(0,0,0);
    						transform: translate3d(0,0,0);
					    }
				    }
		    	}
		    }
		}
	}
}